name: Unit Test
on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    strategy:
      matrix:
        python-version:
          - "3.12"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install package
        # uv is faster, so use it instead of pip
        run: uv pip install -e .[dev]
        env:
          # install into system and not venv
          UV_SYSTEM_PYTHON: 1
      - name: Run tests
        run: |
          pytest --benchmark-quiet --benchmark-json test_benchmarks_latest.json --cov=src tests/
      - name: Restore test time cache
        id: cache-restore
        uses: actions/cache/restore@v5
        with:
          restore-keys: |
            test-benchmarks-${{ runner.os }}-${{ matrix.python-version }}-${{ github.run_id }}-
            test-benchmarks-${{ runner.os }}-${{ matrix.python-version }}-
          path: cached_benchmarks.json
          # key: "cached-benchmarks-${{ runner.os }}-${{ matrix.python-version }}-${{ github.run_id }}-${{ github.sha }}"
          key: "cached-benchmarks-${{ runner.os }}-${{ matrix.python-version }}-${{ github.run_id }}-${{ github.run_attempt }}"
      # - name: Run test times comparison for push
      #   if: github.event_name == 'push'
      #   run: |
      #     python3 ${{ github.workspace }}/src/cosmographi/scripts/compare_times.py \
      #       ${{ github.workspace }}/cached_benchmarks.json \
      #       ${{ github.workspace }}/test_benchmarks_latest.json \
      #       ${{ github.workspace }}/outliers.md \
      #       ${{ github.workspace }}/flakes.md \
      #       ${{ github.workspace }}/cached_benchmarks.json \
      #       --save_latest_if_no_cache
      - name: Run test times comparison for PR
      # if: github.event_name == 'pull_request' && hashFiles('cached_benchmarks.json') != ''
        run: |
          python3 ${{ github.workspace }}/src/cosmographi/scripts/compare_times.py \
            ${{ github.workspace }}/cached_benchmarks.json \
            ${{ github.workspace }}/test_benchmarks_latest.json \
            ${{ github.workspace }}/outliers.md \
            ${{ github.workspace }}/flakes.md \
            ${{ github.workspace }}/cached_benchmarks.json \
            --save_latest_if_no_cache

          if [[ -f outliers.md ]]; then
            sed -i '1i ##Slow tests found!\n' outliers.md
            echo "" >> outliers.md
            cat outliers.md
          fi
      - name: Update cache
      # if: github.event_name == 'push'
        uses: actions/cache/save@v5
        with:
          path: cached_benchmarks.json
          # key: "test-benchmarks-${{ runner.os }}-${{ matrix.python-version }}-${{ github.sha }}"
          key: "test-benchmarks-${{ runner.os }}-${{ matrix.python-version }}-${{ github.run_id }}-${{ github.run_attempt }}"
      - name: Report bad tests
        uses: mshick/add-pr-comment@v2
        if: ${{ github.event_name == 'pull_request' && hashFiles('outliers.md') != '' }}
        with:
          message-path: outliers.md
      - name: Clear bad tests
        uses: mshick/add-pr-comment@v2
        if: ${{ github.event_name == 'pull_request' && hashFiles('outliers.md') == '' }}
        with:
          update-only: true
          message: \##All bad tests fixed!
      - name: Code cov
        if: ${{ github.event_name == 'pull_request' }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          name: codecov-umbrella
          token: ${{ secrets.CODECOV_TOKEN }}
