name: Unit Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install package
        # uv is faster, so use it instead of pip
        run: uv pip install .[dev]
        env:
          # install into system and not venv
          UV_SYSTEM_PYTHON: 1
      - name: Run tests
        run: pytest --cov tests/
      - name: Code cov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          name: codecov-umbrella
          token: ${{ secrets.CI }}
